@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline{ 
  --font-kanit: var(--font-kanit);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animation Styles */
.check-circle {
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: drawCircle 1s ease-out forwards;
}

.check-mark {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: drawCheck 0.5s ease-out forwards;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes drawCircle {
  from { stroke-dashoffset: 157; }
  to { stroke-dashoffset: 0; }
}

@keyframes drawCheck {
  from { stroke-dashoffset: 48; }
  to { stroke-dashoffset: 0; }
}
